.container-fluid
  .row
    .col-9.col-sm-10
      %h3
        Messages sur les dossiers
    .col-3.col-sm-2.text-right
      = link_to 'Vérifier', check_verify_path,class: "btn btn-success"
  .row
    .col
      %table.table.table-striped
        - @checked_dossiers.each do |dossier_number, messages|
          %tr
            %td
              - demarche_number = messages.first.check.demarche_id
              = link_to "Dossier #{dossier_number}", ENV['GRAPHQL_HOST'] + "/procedures/#{demarche_number}/dossiers/#{dossier_number}", target: "_blank"
              %br
              Vérifié le
              = messages.first.check.checked_at.strftime("%d/%m/%Y à %H:%M")
              - if messages.first.check.posted
                .btn.btn-light.disabled
                  = image_tag 'message_sent.svg', width: '32px'
              - else
                = link_to check_post_message_path(dossier_number), class: "btn btn-light",  'data-method': 'put' do
                  = image_tag 'post_message.png', width: '32px'
            %td.col-10
              %table.table
                - messages.each do |message|
                  %tr
                    %td.col-3=message.field
                    %td.col-3=message.value
                    %td.col=message.message

