.col
  %p
    Bonjour,
    %br/
    Une erreur est survenue.
    %br/
  - if @demarche.present?
    %p
      Démarche:
      = @demarche
  - if @dossier_url.present?
    %p
      Dossier:
      %a{ href: @dossier_url }
        = @dossier
  - if @tags.present?
    %p
      Etiquettes:
      = @tags
  - if @message.present?
    %p
      Message:
      = @message
  - if @backtrace.present?
    %pre
      - @backtrace.each do |trace|
        &nbsp;&nbsp;&nbsp;
        = trace
  %br/
  = SITE_NAME
