.container-fluid
  .row
    .col.text-right
      - if @running
        = link_to 'Vérification en cours', '',class: "btn", enabled: false
      - else
        = link_to 'Vérifier', demarche_verify_path,class: "btn btn-primary"
      - if user_signed_in?
        = link_to admin_baserow_schema_index_path, class: "btn btn-outline-info ml-3" do
          %i.fas.fa-database.mr-1
          Schéma Baserow
  .row
    .col
      %nav
        %ul.nav.nav-tabs
          - @configurations.each do |configuration, count|
            = tab_item(configuration,
                configuration_path(configuration: configuration),
                active: configuration ==  @configuration,
                badge: count)
  .row
    .col
      %h3
        = @dossiers.size
        dossiers
      %table.table.table-striped
        - @dossiers.each do |dossier_number, checks|
          %tr.d-flex
            %td
              - demarche_number = checks.first.demarche_id
              = link_to "Dossier #{dossier_number}", ENV['GRAPHQL_HOST'] + "/procedures/#{demarche_number}/dossiers/#{dossier_number}", target: "_blank"
              %br
              Vérifié le
              = checks.first.checked_at.strftime("%d/%m/%Y à %H:%M")
              - if checks.first.posted
                .btn.btn-light.disabled
                  = image_tag 'message_sent.svg', width: '32px'
              - else
                = link_to demarche_post_message_path(dossier_number), class: "btn btn-light",  'data-method': 'put' do
                  = image_tag 'post_message.png', width: '32px'
            %td.col-10
              - messages = checks.flat_map { |c| c.messages }.sort_by { |m| m.field + m.value }
              - failed = checks.any?(&:failed)
              - if failed
                Exception interne lors du traitement de ce dossier. Contactez le support technique.
              - elsif messages.empty?
                Dossier correct pouvant passer en instruction.
                - unless checks.first.posted
                  Cliquez sur le bouton d'envoi de message pour prévenir l'usager puis passez le dossier en instruction.
              - else
                %table.table
                  - messages.each do |message|
                    %tr.d-flex
                      %td.col-3.col-md-2=message.field
                      %td.col-3.col-md-2=message.value
                      %td.col-6.col-md-8=message.message
